.header {
  width: 100%;
  min-height: 8.9vh;
  padding: 0 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background-header);
  box-shadow: var(--shadow-header);
}
