.profile-page-template {
  width: 510px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__top {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
  }
}
