.dashboard {
  &__wrapper {
    padding: 60px 270px;
  }

  &__description {
    margin-bottom: 140px;
  }

  &__levels-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 46px;
    row-gap: 30px;
    padding: 0 62px;
  }
}
