.h1 {
  font-weight: 700;
  color: var(--dark-primary);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);

  &_align-center {
    text-align: center;
  }

  &_align-start {
    text-align: left;
  }
}
