.auth-page-template {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1002px;
  width: 100%;
  min-height: calc(100vh - 38px * 2);
  padding: 0 6.8vw;
  overflow: hidden;
  z-index: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--dark-primary);
    min-height: inherit;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    z-index: -1;
  }

  &_reversed {
    flex-direction: row-reverse;

    &.auth-page-template::after {
      right: auto;
      left: 0;
    }
  }

  &__heading {
    max-width: 249px;
    text-transform: uppercase;
    color: var(--background-secondary);
  }
}
