.header-link {
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: 0.5vw;

    &--active {
      color: var(--ui-primary);
    }
  }

  &__title {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
  }
}
