.h2 {
  font-weight: 700;
  color: var(--dark-primary);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  
  &_align-center {
    text-align: center;
  }

  &_align-start {
    text-align: left;
  }
}