:root {
  --background-primary: #fcfcfc;
  --background-secondary: #fff;
  --danger: #ff4e4e;
  --dark-primary: #212329;
  --divider-primary: #999;
  --divider-secondary: #d9d9d9;
  --ui-primary: #3369f3;
  --ui-dark-primary: #2047aa;
  --ui-secondary: #f1f1f1;
  --text-secondary: #fff;
  --font-size-xxl: 64px;
  --font-size-xl: 32px;
  --font-size-l: 24px;
  --font-size-m: 18px;
  --font-size-s: 12px;
  --line-height-xxl: 1.12;
  --line-height-xl: 1.12;
  --line-height-l: 1.16;
  --line-height-m: 1.33;
  --line-height-s: 1.16;
  --trans-300: 0.3s;
}
