.small-text {
  font-weight: 400;
  color: var(--dark-primary);

  &_size-s {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
  }

  &_size-xs {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
  }
}
