.icon {
  width: 100%;

  &_size-l {
    max-width: 32px;
    height: 32px;
  }

  &_size-m {
    max-width: 24px;
    height: 24px;
  }

  &_size-s {
    max-width: 18px;
    height: 18px;
  }
}
