.heading {
  font-weight: 700;
  color: var(--dark-primary);

  &_type-h1 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }

  &_type-h2 {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
  }

  &_type-h3 {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
  }

  &_align-center {
    text-align: center;
  }

  &_align-start {
    text-align: left;
  }
}
