.forum-topic-item {
  width: 100%;
  min-height: 7.6vh;
  padding: 1.6vh 4.6vw 1.6vh 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  cursor: pointer;

  &:nth-child(odd) {
    background-color: var(--ui-secondary);
  }

  &__title {
    color: var(--dark-primary);
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
    font-weight: 500;
  }

  &__data {
    display: flex;

    &-left-part {
      padding-right: 0.9vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-right: 1px solid var(--divider-primary);
    }

    &-right-part {
      padding-left: 1vw;
      display: flex;
      column-gap: 0.6vw;
    }
  }

  &__user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-date {
      color: var(--divider-primary);
    }
  }
}
