.game-header {
  &__wrapper {
    color: var(--dark-primary);
  }

  &__actions-wrapper {
    display: flex;
    gap: 30px;
  }

  &__timer {
    user-select: none;
  }

  &__button {
    color: inherit;
    border: none;
    background: transparent;
    cursor: pointer;

    &_add-flask {
      display: flex;
      align-items: center;
    }
  }
}
