.leaderboard {
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    justify-content: center;

    &_dark {
      background-color: var(--dark-primary);
    }
  }

  &__heading {
    padding: 24px 0 16px;

    & * {
      color: var(--text-secondary);
    }
  }

  &__table {
    width: 62.5vw;
    display: table-header-group;

    &-header {
      width: 62.5vw;
      display: table-header-group;
      background-color: var(--dark-primary);

      &-cell {
        padding: 16px 0;
        display: table-cell;

        & * {
          color: var(--text-secondary);
          cursor: pointer;
        }

        &_active {
          text-decoration: underline;
          text-decoration-color: var(--text-secondary);
        }

        &_aside {
          width: 14.8vw;
        }

        &_center {
          width: 70.4vw;
        }
      }
    }
  }
}
