.leaderboard {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * + * {
      margin-top: 10px;
    }

    &_dark {
      background-color: var(--dark-primary);
    }
  }

  &__heading {
    padding: 24px 0 16px;

    & * {
      color: var(--text-secondary);
    }
  }

  &__table {
    width: 1000px;
    display: table-header-group;

    &-header {
      width: 1000px;
      display: table-header-group;
      background-color: var(--dark-primary);

      &-cell {
        padding: 16px 0;
        display: table-cell;

        & * {
          color: var(--text-secondary);
          cursor: pointer;
        }

        &_active {
          text-decoration: underline;
          text-decoration-color: var(--text-secondary);
        }

        &_aside {
          width: 236px;
        }

        &_center {
          width: 535px;
        }
      }
    }
  }
}
