.page-header-main-link {
  display: flex;
  align-items: center;
  margin: 0 1vw;

  &--active p,
  &--active svg {
    color: var(--ui-primary);
  }

  &__icon {
    margin-right: 0.6vw;
  }

  &__link {
    text-decoration: none;
  }
}
