.link {
  width: fit-content;
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  color: var(--ui-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
